{% extends "base.html" %}

{% block content %}
<script>
</script>

<body>
  <div class="d-flex flex-row">
    <div class="flex-column p-md-5">
      <div class="d-flex p-2">
        <h1 class="display-4">Submit Paper</h1>
      </div>
      <form action = "/uploader" method = "POST" 
        enctype = "multipart/form-data">
          <input type = "file" name = "file" />
          <input type = "submit"/>
      </form>   
    </div>
    <div class="pt-md-5">
      <table class="table-success table-bordered p-md-5">
        <tr>
          <th> Paper Name </th>
          <th> Submission Date </th>
        </tr>
      </table>
  </div>
</body>

{% endblock %}