<!doctype html>
{% extends 'base.html' %}
{% block content %}
<style>
    p {
        font-size: 1em;
    }
</style>
<html lang="en">
    <title>WCPMS</title>
        <body>
            <div class="container">
                <div class="row text-black">
                    <div class="d-flex justify-content-center p-2">
                        <h1 class="display-2 text-center">Conference Paper Management System</h1>
                    </div>
                </div>
            </div>
            <div class="container">
            
            {% if not request.user.is_authenticated %}
            <div class="container">
                <h1 class="h3 text-center p-3">About</h1>
            </div>
            <div class="container w-50">
                <div class="d-flex flex-column p-2 text-black-50">
                    <div class="p-2">
                        <p>
                            Hello and welcome. If this is your first use of the Conference
                            Paper Management System, please create an account as either a reviewer or author.
                        </p>
                    </div>
                    <div class="p-2">
                        <p>
                            Admins:<br>
                            Login to maintain authors, papers, and reviewers.<br>
                        </p>
                    </div>
                    <div class="p-2">
                        <p>
                            Users:<br>
                            Login to submit and manage papers.<br>
                        </p>
                    </div>
                    <div class="p-2">
                        <p>
                            Reviewers:<br>
                            Login to review assigned papers.<br>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if request.user.is_reviewer %}
            <div class="container">
                <h1 class="h3 text-center p-3">  </h1>
            </div>
            <div class="container w-75">
                <div class="p-2 text-black-50 text-center">
                    <div class="p-2">
                        <p>
                            Logged in as a reviewer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container w-75">
                <div class="p-2 text-black-50 text-center">
                    <div class="lead p-2">
                        <p>
                            {{ message }}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</html>
{% endblock %}