            <h3 class="display-6 mt-5"> Review Topics </h3>
                <!-- Start Checkbox Row -->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck1" name="AoA">
                        <label class="form-check-label" for="flexCheck1">
                            Analysis of Algorithms
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2" name="FYC>
                        <label class="form-check-label" for="flexCheck2">
                            First Year Computing
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2" name="OOI">
                        <label class="form-check-label" for="flexCheck2">
                            Object Oriented Issues
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row -->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2" name="App">
                        <label class="form-check-label" for="flexCheck2">
                            Applications
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2" name="GI">
                        <label class="form-check-label" for="flexCheck2">
                            Gender Issues
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck1">
                        <label class="form-check-label" for="flexCheck1">
                            Operating Systems
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Architecture
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Grant Writing
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Parallel Processing
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Artificial Intelligence
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Graphics Image Processing
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Pedagogy
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Computer Engineering
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Human Computer Interaction
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Programming Languages
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Curriculum
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Laboratory Environments
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Research
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Data Structures
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Literacy
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                            Security
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Databases
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Mathematics in Computing
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Software Engineering
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Distance Learning
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Multimedia
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Systems Analysis and Design
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Distributed Systems
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Networking/Data Communications
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Using Technology in the Classroom
                        </label>
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="form-check-inline">
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Ethical/Societal Issues
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Non-Major Courses
                        </label>
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck2">
                        <label class="form-check-label" for="flexCheck2">
                        Web and Internet Programming
                        </label>
                    </div>
                </div>
                <!-- Start Row -->
                <div class="row">
                    <div class='col mb-2'>
                        <label for="validationTooltip06">Other (Describe)</label>
                        <textarea type="text" name="cellphone" class="form-control" id="validationTooltip06" rows="3"></textarea>
                    </div>
                </div>
                <!-- End Row -->
                <!-- End Checkbox Row -->