<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<title>Create Reviewer Account</title>
<style>
    .center_div{
        margin: 0 auto;
        width:100% /* value of your choice which suits your alignment */
    }
</style>
<html lang="en" dir="ltr">
    <body>
        <!-- Container to hold entire page body -->
        <div class="container-fluid p-xl-5 center_div">
            <!-- Container to hold title -->
            <div class="container-fluid">
                <div class="row text-black">
                    <div class="p-2">
                        <h1 class="display-3">Reviewer Registration</h1>
                    </div>
                </div>
            </div>
            <h3 class="display-6 mt-5">Contact Information </h3>
            <!--
            {% if message %}
            <div class="row mt-3 mb-3">
                <p class="text-danger"> {{ message }} </p>
            </div>
            {% endif %}
            -->
            <form method="POST" action={% url 'reviewersignup' %} novalidate> {% csrf_token %}
                <!-- Start Row -->
                <div class="row">
                    <div class="col mb-2">
                        {{ form.FirstName|as_crispy_field }}
                    </div>
                    <div class="col-2 mb-2">
                        {{ form.MiddleInitial|as_crispy_field }}
                    </div>
                    <div class="col mb-2">
                        {{ form.LastName|as_crispy_field }}
                    </div>
                </div> 
                <!-- End Row-->
                <!-- Start Row -->
                <div class="row">
                    <div class='col mb-2'>
                        {{ form.Affiliation|as_crispy_field }}
                    </div>
                    <div class='col mb-2'>
                        {{ form.Department|as_crispy_field }}
                    </div>
                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row">
                    <div class='col mb-2'>
                        {{ form.CellNumber|as_crispy_field }}
                        <small>format: 012-345-6789</small>
                    </div>
                    <div class='col mb-2'>
                        {{ form.WorkNumber|as_crispy_field }}
                    </div>
                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row mt-5">
                    <div class="col mb-2">
                        {{ form.Address|as_crispy_field }}
                    </div>
                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row">
                    <div class="col mb-2">
                        {{ form.City|as_crispy_field }}
                    </div>
                    <div class="col mb-2">
                        {{ form.State|as_crispy_field }}
                    </div>
                    <div class="col mb-2">
                        {{ form.ZipCode|as_crispy_field }}
                    </div>
                </div>
                <!-- End Row -->
                <!-- Start Row -->
                <div class="row mt-5">
                    <div class="col mb-2">
                        {{ form.Email|as_crispy_field }}
                    </div>
                    <div class="col mb-2">
                        {{ form.Password|as_crispy_field }}
                    </div>
                </div>
                <!-- End Row -->
                <h3 class="display-6 mt-5"> Review Topics </h3>
                <!-- Start Checkbox Row -->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Analysis|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.FirstYear|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.ObjectOriented|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row -->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Applications|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.GenderIssues|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.OperatingSystems|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Architecture|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.GrantWriting|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.ParallelProcessing|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.ArtificialIntelligence|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.GraphicsImage|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Pedagogy|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.ComputerEngineering|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.HumanComputer|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.ProgrammingLanguages|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Curriculum|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.LaboratoryEnvironments|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Research|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.DataStructures|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Literacy|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Security|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Databases|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Mathematics|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.SoftwareEngineering|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.DistanceLearning|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Multimedia|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.SystemsAnalysis|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.DistributedSystems|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.Networking|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.UsingTechnology|as_crispy_field }}
                    </div>
                </div>
                <!-- End Checkbox Row -->
                <!-- Start Checkbox Row-->
                <div class="row">
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.EthicalIssues|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.NonMajor|as_crispy_field }}
                    </div>
                    <div class="form-check form-check-inline col-3 mb-3">
                        {{ form.WebInternet|as_crispy_field }}
                    </div>
                </div>
                <!-- Start Row -->
                <div class="row">
                    <div class='col mb-2'>
                        {{ form.Other|as_crispy_field }}
                    </div>
                </div>
                <!-- End Row -->
                <!-- End Checkbox Row -->
                <!-- Submit Form Button -->
                <div class="container mt-5 float-start mb-5">
                    <button class="btn btn-primary" type="submit" value='Save'>Register</button>
                </div>
            </form>
        </div>
  </body>
</html>
{% endblock %}