<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<title>Author Report</title>
<style>
    .center_div{
        margin: 0 auto;
        width:100% /* value of your choice which suits your alignment */
    }

    /* header padding */
    th.rotated-text {
        height: 140px;
        white-space: nowrap;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
    }

    th.rotated-text > div {
        transform:
            translate(-5px, 0px)
            rotate(310deg);
        width: 30px;
    }

    th.rotated-text > div > span {
        padding: 5px 10px;
    }

    .col-w {
        padding: 0.8em !important;
    }
</style>
<html lang="en" dir="ltr">
    <body>
        <div class="row mt-4">
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-md-6">
                <table class="table table-hover">
                    <thead class="membership-tiers text-left">
                    <tr>
                        <th scope="col"></th>
                        <th class="rotated-text" scope="col"><div><span>Last Name</span></div></th>
                        <th class="rotated-text" scope="col"><div><span>First Name</span></div></th>
                        <th class="rotated-text" scope="col"><div><span>M.I.</span></div></th>
                        <th class="rotated-text" scope="col" style="padding-right: 5em;"><div><span>Affiliation</span></div></th>
                        <th class="rotated-text" scope="col" style="padding-right: 5em;"><div><span>Department</span></div></th>
                        <th class="rotated-text" scope="col" style="padding-right: 5em;"><div><span>Address</span></div></th>
                        <th class="rotated-text" scope="col"><div><span>City</span></div></th>
                        <th class="rotated-text" scope="col"><div><span>State</span></div></th>
                        <th class="rotated-text" scope="col"><div><span>Zip Code</span></div></th>
                        <th class="rotated-text" scope="col" style="padding-right: 6em;"><div><span>Phone Number</span></div></th>
                        <th class="rotated-text" scope="col"><div><span>Email</span></div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>Kit</td>
                        <td>Harrington</td>
                        <td></td>
                        <td>Winter Institute of Finance</td>
                        <td>Business Administration</td>
                        <td>Snow Court</td>
                        <td>Anchorage</td>
                        <td>AL</td>
                        <td>42321</td>
                        <td>907-123-1234</td>
                        <td>harringtonkit@got.edu</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Freddy</td>
                        <td>Kreuger</td>
                        <td></td>
                        <td>MIT</td>
                        <td>Robotics</td>
                        <td>Elm St</td>
                        <td>Boston</td>
                        <td>MA</td>
                        <td>43234</td>
                        <td>813-656-5545</td>
                        <td>kreuger@mit.edu</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Todd</td>
                        <td>Ken</td>
                        <td>M</td>
                        <td>Georgia Tech</td>
                        <td>Information Technology</td>
                        <td>456 Address Dr</td>
                        <td>Atlanta</td>
                        <td>GA</td>
                        <td>44444</td>
                        <td>813-232-6475</td>
                        <td>ken.todd@outlook.com</td>
                    </tr>
                    </tbody>
                </table>
                <div class="container mb-5">
                    <a href="#"> <small>Download CSV</small> </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </body>
</html>
{% endblock %}